*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    padding-top: 80px;
    background: #eee;
}

.header{
    background: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    
}

.nav > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav a > p{
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

.nav-menu{
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: .5s;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background: #034574;
}

.nav-toggle{
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 80px);
}

.table-users{
    justify-content: start;
}

/* Formulario */

.contenedor-form{
    background: #83c5f7;
    width: max-content;
    padding: 30px 55px;
    box-shadow: 2px 2px 8px #000;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
}

.form-group > label{
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.cont-icon-input{
    display: flex;
    margin-top: 10px;
    border: 1px solid #393939;
    max-width: max-content;
    box-shadow: 1px 1px 4px #000;
}

.form-icon{
    font-size: 1.1em;
    color: #363636;
    padding: 6px;
    background: #bebebe;
}

.form-input{
    flex-grow: 1;
    max-width: 250px;
    border: none;
    padding: 5px;
}

.form-button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #393939;
    background: #0769e9;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 1px 1px 4px #000;
}
/* END FORM */

.alert-success{
    background: #97cf9bd2;
    color: #204423;
}

.alert-error{
    font-weight: 600;
    color: #9b0202;
}

h1{
    text-align: center;
    margin: 12px 0;
}

/* TABLE */
table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
} 
  
th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 8px 12px;
    /* position: relative; */
    text-shadow: 0 1px 0 #000;  
}
  
/* th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
} */
  
th:first-child {
    border-left: 1px solid #777;  
    box-shadow: inset 1px 1px 0 #999;
}
  
th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}
  
td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    /* position: relative; */
    transition: all 300ms;
}
  
td:first-child {
    box-shadow: inset 1px 0 0 #fff;
} 
  
td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
} 
  
tr:nth-child(odd) td {
    background: #f1f1f1; 
}
  
tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}
  
tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
} 
  
tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
} 
  
tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}
  
tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.table-links{
    text-align: center;
}

.btn-table{
    font-size: 16px;
    margin-right: 5px;
    transition: color linear .2s;
}

.btn-table:hover{
    color: #0769e9;
}

button{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
/* END TABLE */

a{
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px){
    body{
        padding-top: 60px;
    }

    .header{
        height: 60px;
    }

    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        /* margin-right: 0; */
        background: #2c3e50;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left .4s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #83c5f7;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }

    .main{
        min-height: calc(100vh - 60px);
    }

}